body {
    margin: 0;
    background-image: url("image/intere_cvetochnogo3.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: inline-block;
    background-color: #fdeefc;
    width: 100%;
    position: fixed;
    height: 5%;
    padding-top: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 7%;
    background-color: #fdeefc;
}

a {
    padding: 10px;
    color: #ff9ab7;
    font-size: 20px;
    text-decoration: none;
}

.headerNav {
    position: absolute;
    right: 7%;
    top: 15px;
}

.footerNav {
    position: absolute;
    right: 7%;
    top: 25px;
}

.headerItems {
    display: inline-block;
}

.headerIcon {
    margin: 10px;
    padding-left: 15px;
    color: #ff9ab7;
    font-size: 30px;
    top: 10px;
}

.footerIcon {
    margin: 10px;
    padding-left: 15px;
    color: #ff9ab7;
    font-size: 30px;
}

hr {
    margin-top: 0;
    color: #ff9ab7;
    background-color: #ff9ab7;
    border: none;
    height: 1px;
}

.mainInf {

}