body {
    margin: 0;
    background-image: url("image/intere_cvetochnogo3.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Candara;
}

header {
    display: inline-block;
    position: initial;
    background-color: white;
    width: 100%;
    /*position: fixed;*/
    height: 45px;
    padding-top: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: white;
    padding-top: 10px;
}

a {
    padding: 10px;
    color: #fd7ba0;
    font-size: 20px;
    text-decoration: none;
}

.headerNav {
    position: absolute;
    right: 7%;
    top: 15px;
}

.footerNav {
    position: absolute;
    right: 7%;
    top: 15px;
}

.headerItems {
    display: inline-block;
}

.headerIcon {
    margin: 10px;
    padding-left: 15px;
    color: #fd7ba0;
    font-size: 30px;
    top: 10px;
}

.footerIcon {
    margin: 10px;
    padding-left: 15px;
    color: #fd7ba0;
    font-size: 30px;
    top: 10px;
}

.mainInf {

}

.rectangle {
    margin-top: 7.5%;
    margin-left: 24%;
    width: 1000px;
    height: 570px;
    background-color: white;
    border-radius: 15px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.bouquetImage {
    margin-top: 14%;
    margin-left: 4%;
    width: 87%;
    height: 70%;
    display: inline-block;
}

.bouquetText {
    margin-top: 20%;
    margin-left: 5px;
    padding-right: 50px;
    text-align: justify;
    display: inline-block;
    color: #fd7ba0;
}